.calculator-container {
    display: flex;
    padding-top: 48px;
}

.calculator {
    padding: 48px 16px 16px 16px;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 32px;
    min-height: calc(100svh -48px);
}

.calculator-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.calculator-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.checkboxes-content {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.pages {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.pages-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.estimates {
    display: flex;
    justify-content: space-between;
}

.estimate-price h2, .estimate-delivery h2 {
    margin: 4px 0;
    color: var(--primary)
}

.price-once, .estimate-delivery span {
    color: var(--primary)
}

.estimate-delivery {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.included {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
    margin-bottom: auto;
}

.included-btn {
    font-size: 12.8px;
    padding: 8px 12px;
    border: 1px solid #CCC;
    border-radius: 28px;
    cursor: pointer;
}

.included-btn.active {
    background: var(--primary);
    color: var(--text-inverted);
    border: none;
}

.included-header {
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow: hidden;
    transition-duration: var(--animation-slow);
    padding-bottom: 100px;
}

.included-header.active {
    max-height: 1000px;
}

.included-header p {
    opacity: 0;
    transition-duration: 100ms;
}

.included-header>div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.included-content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    border-left: 3px solid var(--primary);
    padding: 0 8px;
    
}

.included-item {
    padding: 4px 8px;
    font-size: 12.8px;
    border: 1px solid #5F5F5F;
    border-radius: 28px;
    color: #5F5F5F;
    transition-duration: 150ms;
}

.calculator-btns {
    z-index: 4;
    width: 100%;
    background: var(--bg-primary);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px 20px;
    border-top: 1px solid var(--divider)
}

.calculator-btns div {
    position: relative;
    display: flex;
    justify-content: stretch;
    gap: 8px
}

.calculator-btns button {
    width: 50%;
}

@media only screen and (min-width: 700px) {
    .calculator-container {
        gap: 16px;
    }

    .calculator-image {
        width: 50%;
        height: calc(100svh - 48px);
        
        background: var(--bg-secondary);
    }

    .calculator {
        width: 50%;
    }
}

@media only screen and (min-width: 1300px) {
    .calculator-btns {
        position: relative;
        width: 100%;
        margin-top: auto;
    }

}
