.calculator-container {
    display: flex;
    padding-top: 48px;
    
    overflow: hidden;
}

.calculator {
    display: flex;
    position: relative;
    flex-direction: column;
}

.calculator-content {
    padding: 98px 16px 116px 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.calculator-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;
}


.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.checkboxes-content {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.pages {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.pages-header {
    display: flex;
    
    justify-content: space-between;
}

.estimates {
    display: flex;
    justify-content: space-between;
}

.estimate-price h2, .estimate-delivery h2 {
    margin: 4px 0;
    color: var(--primary)
}

.price-once, .estimate-delivery span {
    color: var(--primary)
}

.estimate-delivery {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.included {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 32px;
    
}


.included-header {
    display: flex;
    flex-direction: column;
    gap: 32px;
    
    max-height: 100%;
    transition-duration: var(--animation-slow);
} 


.included-header p {
    opacity: 0;
    transition-duration: 100ms;
}

.included-header>div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.included-content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    border-left: 3px solid var(--primary);
    padding: 0 8px;
    
}

.included-item {
    padding: 4px 8px;
    font-size: 12.8px;
    border: 1px solid #5F5F5F;
    border-radius: 28px;
    color: #5F5F5F;
    transition-duration: 150ms;
}

.calculator-btns {
    z-index: 4;
    width: 100%;
    background: var(--bg-primary);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 12px 20px;
    border-top: 1px solid var(--divider)
}

.calculator-btns div {
    position: relative;
    display: flex;
    justify-content: stretch;
    gap: 8px
}

.calculator-btns button {
    width: 50%;
}

@media only screen and (min-width: 700px) {
    .calculator-container {
        gap: 16px;
        height: 100svh;
    }
    .calculator {
        width: 50%;

    }
    .calculator-content {
        overflow-y: auto;
    }
    .calculator-image {
        width: 50%;
        background: var(--bg-secondary);
    }

    
}

@media only screen and (min-width: 1300px) {
    .calculator-btns {
        width: 100%;
        position: absolute;
    }
}
