#modal {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 1em;
    z-index: 3;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
}

.modal-box {
    position: relative;
    width: 300px;
    background: #161616;
    border-radius: 12px;
    border: 1px solid var(--white-10);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 42;
    flex-direction: column;
}

.modal-close {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.modal-previous {
    display: none;
    background: transparent;
    border: 1px solid var(--primary-100);
    color: var(--primary-100);
}

.modal-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--modal-padding-x);
}

.modal-content {
    position: relative;
    width: 100%;
    padding: var(--modal-padding-y) 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal-content p {
    padding: 0 var(--modal-padding-x);
}

.modal-pages {
    display: flex;
    transition-duration: 250ms;
    width: 200%;
}


.modal-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--modal-padding-x);
}

.modal-page input {
    width: 100%;
}

.error {
    display: none;
    font-size: 12px;
    padding: 0 var(--modal-padding-x);
    color: rgb(255, 144, 53);
    animation: 150ms wiggle linear;
}

@keyframes wiggle {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}