input[type="range"] {
    --c: var(--primary);
    --g: 0px;
    --l: 6px; 
    --s: 30px; 
    border: none;
    padding: none;
    height: var(--s); 
    --_c: color-mix(in srgb, var(--c), var(--primary) var(--p,0%));
    -webkit-appearance :none;
    -moz-appearance :none;
    appearance :none;
    background: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 100px;
}

input[type="range" i]::-webkit-slider-thumb{
    height: 16px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 var(--_b, 3px) inset var(--_c);
    border-image: linear-gradient(90deg,var(--_c) 50%,var(--bg-secondary) 0) 0 1/calc(50% - var(--l)/2) 100vw/0 calc(100vw + var(--g));
    -webkit-appearance: none;
    appearance: none;
}



input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    background: none;
    border-radius: 50%;
    box-shadow: 0 0 0 var(--_b, 3px) inset var(--_c);
    border-image: linear-gradient(90deg,var(--_c) 50%,var(--bg-secondary) 0) 0 1/calc(50% - var(--l)/2) 100vw/0 calc(100vw + var(--g));
    -moz-appearance: none;
    appearance: none;
}

@supports not (color: color-mix(in srgb,red,red)) {
    input {
      --_c: var(--c);
    }
}
