:root {
    --white-10: rgba(255, 255, 255, 0.1);
    --white-20: rgba(255, 255, 255, 0.2);
    --white-60: rgba(255, 255, 255, 0.6); 
    --primary-100: #F8BF2D; /* #E7EB28 */

    --modal-padding-x: 20px;
    --modal-padding-y: 20px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #eee;
    box-sizing: border-box;
}

body {
    background: #0C0C0C;
}

nav {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    opacity: .6;
    padding: 1em;
    z-index: 4;
    border-bottom: 1px solid var(--white-10);
}

h1 {
    font-size: 48.83px;
    font-weight: 500;
    letter-spacing: -4%;
    line-height: 52px;
    transition-duration: 100ms;
}

h2 {
    font-size: 31.25px;
    font-weight: 500;
    color: #f1f1f1;
    letter-spacing: -1px;
}

h3 {
    font-size: 16px;
    font-weight: 400;
}

p {
    font-weight: 400;
    transition-duration: 100ms;
    font-size: 12.8px;
}

button {
    padding: 16px 24px;
    background: var(--primary-100);
    border: none;;
    border-radius: 1000px;
    color: #f1f1f1;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    background: #242424;
}

button.inverted {
    color: #242424;
    background: var(--primary-100);
}

input[type=text] {
    border-radius: 1000px;
    padding: 16px 24px;
    border: 1px solid var(--white-10);
    color: #121212;
}


.divider {
    width: 100%;
    background: var(--white-10);
    height: 1px;
}

.nav-item {
    display: flex;
    font-size: 12.8px;
    align-items: center;
    gap: 1em;
    font-weight: 400;
    letter-spacing: -4%;
    line-height: 104.8%;
}

.time {
    width: 52px;
}

.dot {
    height: 9px;
    width: 9px;
    background: #05FF00;
    border-radius: 50%;
    animation: 3s blink infinite linear;
    margin-bottom: 1.7px;
}

@keyframes blink {
    50% {
        opacity: .3;
    }
}

