:root {
    /* colors */
    --primary: #E6D648; /* #E7EB28 / #F8BF2D*/

    --bg-primary: #151515;
    --bg-secondary: #202020;
    
    --text-primary: #EEEEEE;
    --text-secondary: rgb(238, 238, 238, .6);
    --text-inverted: #111111;

    --accent-primary: #14FB00;
    --accent-secondary: #FF2222;
    --divider: rgb(238, 238, 238, .1);

    /* typography */
    --h1-large: 48.83px;
    --h1-small: 37px;
    
    --h2-large: 31.25px;
    --h2-small: 26px;
    
    --h3-large: 16px;
    --h3-small: 18px;
    
    --h4-large: 16px;
    --h4-small: 15px;

    --p-large: 15px;
    --p-small: 15px;

    --c-large: 12px;
    --c-small: 12px;

    --button-large: 15px;
    --button-small: 15px;

    --nav-large: 12.8px;
    --nav-small: 12.8px;

    --a-large: 15px;
    --a-small: 15px;

    /* misc */
    --animation-fast: 100ms;
    --animation-slow: 250ms;

    --modal-padding-x: 20px;
    --modal-padding-y: 20px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: var(--text-primary);
    box-sizing: border-box;

}

body {
    background: var(--bg-primary);
}

nav {
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    z-index: 4;
    border-bottom: 1px solid var(--divider);
    background: var(--bg-primary);
}

nav * {
    opacity: 0.9;
}

h1 {
    font-size: var(--h1-small);
    font-weight: 500;
    letter-spacing: -4%;
    line-height: 120%;
    transition-duration: var(--animation-fast);
}

h2 {
    font-size: var(--h2-small);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -4%;
}

h3 {
    font-size: var(--h3-small);
    font-weight: 400;
    line-height: 120%;
}

h4 {
    font-size: var(--h4-small);
    font-weight: 400;
}

p {
    font-weight: 400;
    line-height: 120%;
    transition-duration: var(--animation-fast);
    font-size: var(--p-small);
}

small {
    font-size: var(--c-small);
    line-height: 120%;
}

button {
    padding: 16px 20px;
    background: var(--bg-secondary);
    color: var(--text-primary);
    border: none;
    border-radius: 1000px;
    font-size: var(--button-small);
    font-weight: 500;

    text-align: center;
}

button.inverted {
    color: var(--text-inverted);
    background: var(--primary);
}

input[type="text"], input[type="email"] {
    border-radius: 1000px;
    padding: 16px 24px;
    border: 1px solid var(--divider);
    color: var(--bg-primary);
}

.pill {
    background: var(--bg-secondary);
    color: var(--text-primary);
    font-size: var(--c-small);
    font-weight: 400;
    line-height: 120%;
    padding: 8px 12px;
    border-radius: 100px;
}

.divider {
    width: 100%;
    background: var(--divider);
    height: 1px;
}

.logo {
    font-size: var(--p-small);
    font-weight: 500;
}

.nav-item {
    display: flex;
    font-size: var(--nav-small);
    align-items: center;
    gap: 1em;
    font-weight: 400;
    letter-spacing: -4%;
    line-height: 104.8%;
}

.time {
    width: 60px;
}

.dot {
    height: 9px;
    width: 9px;
    background: var(--accent-primary);
    border-radius: 50%;
    animation: 3s blink infinite linear;
    margin-bottom: 1.82px;
    opacity: 1;
}

.checkbox-item {
    border-radius: 100px;
    padding: 12px 16px;
    color: var(--text-primary);
    outline: 1px solid var(--divider);
    background: transparent;
    font-size: var(--button-small);
    font-weight: 400;
    line-height: 120%;
    transition-duration: 100ms;
    outline-offset: -1px;
}

.checkbox-item.active {
    /* background: var(--primary);
    color: var(--text-inverted); */
    outline: 1px solid var(--text-primary);
    outline-offset: -2px;
}

@keyframes blink {
    50% {
        opacity: .3;
    }
}

